.architect
.idea
bootstrap.css
bootstrap.js
bootstrap.json
bootstrap.jsonp
build/
classic.json
classic.jsonp
ext/
modern.json
modern.jsonp
resources/sass/.sass-cache/
resources/.arch-internal-preview.css
.arch-internal-preview.css
/extension/js/
/node_modules/
/package-lock.json
/src/proto/bmail_srv.ts
/extension/html/test.html
/local_app/macos/bmail/BMailApp.xcodeproj/project.xcworkspace/xcuserdata/hyperorchid.xcuserdatad/UserInterfaceState.xcuserstate
/local_app/macos/bmail/BMailApp.xcodeproj/project.xcworkspace/xcuserdata/wesley.xcuserdatad/UserInterfaceState.xcuserstate
.DS_Store
/local_app/macos/bmail/Cartfile.resolved
/local_app/macos/bmail/Carthage/
/local_app/macos/BMailApp_PKG/Payload/Applications/BMailApp.app/
/local_app/windows/BMailApp/.vs
/local_app/windows/BMailApp/bin
/local_app/windows/BMailApp/obj
/extension.zip
/local_app/macos/BMailApp_PKG/bin/BMailApp_Installer.pkg
/local_app/windows/BMailApp_exe/BMailAppp/Debug
/local_app/windows/BMailApp_exe/BMailAppp/Release
/local_app/windows/BMailApp.CustomInstaller/bin
/local_app/windows/BMailApp.CustomInstaller/obj